/* CSS Document */

table tr:nth-child(2n)
{
  background-color: #DDDDDD;
}

table tr:nth-child(2n + 1)
{
  background-color: #CCCCCC;
}

table tr:nth-child(1)
{
  background-color: #AAAAAA;
}

table
{
  table-layout: fixed;
  width: 2200px;
  vertical-align: middle;
  margin-top: 25px;
}

td, th
{
  width: 200px;
  height: 22px;
}

th:nth-child(1)
{
  width: 25px;
}

th:nth-child(2)
{
  width: 150px;
}

th:nth-child(3)
{
  width: 305px;
}

th:nth-child(4), th:nth-child(8)
{
  width: 180px;
}

th:nth-child(5), th:nth-child(7)
{
  width: 100px;
}

th:nth-child(6)
{
  width: 110px;
}

th:nth-child(10)
{
  width: 150px;
}

th:nth-child(11), th:nth-child(12)
{
  width: 300px;
}

input
{
  position: fixed;
}

input.edit
{
  margin-right: 5px;
  width: 95%;
  position: static;
}

div#meldung
{
  width: 500px;
  position: absolute;
  top: 45%;
  left: 50%;
  margin: 0px;
  margin-top: -50px;
  margin-left: -250px;
  background-color: rgba(255, 207, 112, 0.5);
  text-align: center;
  font-size: 20pt;
  display: table-cell;
  padding: 20px 0px;
}

select
{
  font-size: 8.5pt;
  width: 50%;
}