/* CSS Document */

table tr:nth-child(2n)
{
  background-color: #DDDDDD;
}

table tr:nth-child(2n + 1)
{
  background-color: #CCCCCC;
}

table tr:nth-child(1)
{
  background-color: #AAAAAA;
}

table
{
  table-layout: fixed;
  width: 1875px;
  vertical-align: middle;
  margin-top: 10px;
}

td, th
{
  width: 200px;
  height: 22px;
}

th:nth-child(1)
{
  width: 25px;
}

th:nth-child(2)
{
  width: 150px;
}

th:nth-child(3)
{
  width: 305px;
}

th:nth-child(4), th:nth-child(8)
{
  width: 180px;
}

th:nth-child(5), th:nth-child(7)
{
  width: 100px;
}

th:nth-child(6)
{
  width: 110px;
}

th:nth-child(10)
{
  width: 150px;
}

th:nth-child(11)
{
  width: 100px;
}

th:nth-child(12)
{
  width: 75px;
}

div.header
{
  position: fixed;
  background-color: white;
  width: auto;
  display: inline;
  padding: 10px 10px 5px 10px;
  top: 0px;
  left: 0px;
}

div.header form
{
  display: inline;
}

div.header form.logout
{
  float: right;
}

form.search input
{
  width: 10%;
}

input.edit
{
  margin-right: 5px;
  padding: 0;
  width: 95%;
  font-size: 85%;
}

div#meldung
{
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 207, 112, 0.5);
  text-align: center;
  font-size: 20pt;
  padding: 20px;
  margin-top: -100px;
  margin-left: -250px;
}

div#footer
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

div#footer textarea
{
  display: block;
  font: 16pt monospace;
  margin: auto;
  width: 32.4em;
  height: 2.2em;
}

select
{
  font-size: 8.5pt;
  width: 100%;
}

select#\#1, select#\#2
{
  width: 50%;
}

textarea
{
  font-family: monospace;
}

select#\#0
{
  width: 50%;
}

input#\#1, input#\#2, input#\#3
{
  margin: 0;
  width: 14%;
}

td[id$="#7"] input#\#1, td[id$="#7"] input#\#2, td[id$="#7"] input#\#3
{
  margin: 0;
  width: 31%;
}